:root {
    --theme-color: #2c8ac7;
    --dark-theme-color: #1d5a81;
    --default-text-color: #111111;
    --light-theme-color: #4bacec;
}


/***********
**** BASIC CSS *****
*************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-family: "Lato", "Arial", sans-serif;
    background-color: #f7f7f7;
    color: var(--default-text-color);
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    scrollbar-color: var(--theme-color) var(--default-text-color);
    scrollbar-width: 5px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--default-text-color);
}

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
}


/***********
admin-panel-style
*******/

.admin-header {
    position: relative;
    border-bottom: 4px solid var(--theme-color);
    padding: 15px 20px;
    height: 10vh;
    background: #fff;
}

.admin-header-label {
    position: relative;
    display: inline-block;
    font-size: 150%;
    text-transform: uppercase;
    width: inherit;
}

.admin-header-username {
    position: relative;
    display: inline-block;
    float: right;
    width: inherit;
    font-size: 95%;
}

.admin-panel-section {
    position: relative;
    width: 100%;
    height: 90vh;
}

.admin-navigator {
    background: #2980b9;
    color: #fff;
    position: relative;
    width: 20%;
    float: left;
    height: 90vh;
    border-right: 1px solid;
}

.admin-dashboard-section {
    position: relative;
    float: right;
    width: 80%;
    height: 90vh;
}

.admin-navigator-link {
    cursor: pointer;
    display: block;
    padding: 20px 10px;
    text-transform: uppercase;
    border-bottom: 1px solid;
}

ul li a,
ul li a:visited,
ul li a:active,
ul li a:link,
ul li a:focus {
    text-decoration: none;
    padding-left: 5px;
    color: #fff;
}

.admin-navigator-link i {
    font-size: 150%;
    padding-right: 10px;
}