:root {
    --theme-color: #2c8ac7;
    --dark-theme-color: #1d5a81;
    --default-text-color: #111111;
    --light-theme-color: #4bacec;
}


/***********
**** BASIC CSS *****
*************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
    font-family: "Lato", "Arial", sans-serif;
    background-color: #f7f7f7;
    color: var(--default-text-color);
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    scrollbar-color: var(--theme-color) var(--default-text-color);
    scrollbar-width: 5px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--default-text-color);
}

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
}


/***********
admin-panel-style
*******/

.admin-header {
    position: relative;
    border-bottom: 4px solid var(--theme-color);
    padding: 15px 20px;
    height: 10vh;
    background: #fff;
}

.admin-header-label {
    position: relative;
    display: inline-block;
    font-size: 150%;
    text-transform: uppercase;
    width: inherit;
}

.admin-header-username {
    position: relative;
    display: inline-block;
    float: right;
    width: inherit;
    font-size: 95%;
}

.admin-panel-section {
    position: relative;
    width: 100%;
    height: 90vh;
}

.admin-navigator {
    background: #2980b9;
    color: #fff;
    position: relative;
    width: 20%;
    float: left;
    height: 90vh;
    border-right: 1px solid;
}

.admin-dashboard-section,
.admin-rest-section {
    position: relative;
    float: right;
    width: 80%;
    height: 90vh;
}

.admin-rest-section {
    overflow-y: scroll;
}

.admin-navigator-link {
    cursor: pointer;
    display: block;
    padding: 20px 10px;
    text-transform: uppercase;
    border-bottom: 1px solid;
}

ul li a,
ul li a:visited,
ul li a:active,
ul li a:link,
ul li a:focus {
    text-decoration: none;
    padding-left: 5px;
    color: #fff;
}

.admin-navigator-link i {
    font-size: 150%;
    padding-right: 10px;
}


/*********
bar-view-style
******/

.donation-bar {
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    width: 100%;
}

.donation-bar .donation-data {
    width: 60%;
    position: relative;
}

.donation-bar .donation-bar-img {
    width: 35%;
    position: relative;
}

.donation-bar .donation-bar-img img {
    position: relative;
    width: 80%;
    left: 10%;
    top: 10%;
    height: 80%;
}

.donation-bar-btn-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.donation-bar .donation-bar-title {
    font-size: 90%;
    color: #555;
    margin-right: 5px;
}

.donation-bar .donation-bar-details {
    font-size: 80%;
    color: #333;
}

.donation-bar-btn-section button {
    position: relative;
    display: block;
    float: right;
    width: 10%;
    padding: 5px;
    right: 2%;
    margin: 5px;
    outline: none;
    cursor: pointer;
    border: none;
}

.donation-bar-btn-section button:nth-child(1) {
    background-color: rgb(86, 199, 90);
}

.donation-bar-btn-section button:nth-child(2) {
    background-color: rgb(229, 42, 42, 0.85);
}

.empty-donation,
.empty-donation-check {
    position: relative;
    display: block;
    top: 30%;
    text-align: center;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.empty-donation {
    padding: 10px;
    font-size: 180%;
    font-weight: 400;
}

.empty-donation-check {
    width: 20%;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    height: 20%;
    border-radius: 50%;
    font-size: 250%;
    background: black;
}

.empty-donation-check i {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%) scale(0);
    color: var(--theme-color);
    animation: checkUp 1.5s ease-out forwards;
}

@keyframes checkUp {
    0% {
        transform: translateY(-50%) scale(0);
    }
    100% {
        transform: translateY(-50%) scale(1);
    }
}