:root {
    --theme-color: #2c8ac7;
    --dark-theme-color: #1d5a81;
    --default-text-color: #111111;
    --light-theme-color: #4bacec;
    --donator-theme-color: #3f87a6;
    --ngo-theme-color: #f69d3c;
}


/***********
**** BASIC CSS *****
*************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
    font-family: "Lato", "Arial", sans-serif;
    background-color: #f7f7f7;
    color: var(--default-text-color);
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    scrollbar-color: var(--theme-color) var(--default-text-color);
    scrollbar-width: 5px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--default-text-color);
}

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
}


/***********
admin-panel-style
*******/

.admin-header {
    position: relative;
    border-bottom: 4px solid var(--theme-color);
    padding: 15px 20px;
    height: 10vh;
    background: #fff;
}

.admin-header-label {
    position: relative;
    display: inline-block;
    font-size: 150%;
    text-transform: uppercase;
    width: inherit;
}

.admin-header-username {
    position: relative;
    display: inline-block;
    float: right;
    width: inherit;
    font-size: 95%;
}

.admin-panel-section {
    position: relative;
    width: 100%;
    height: 90vh;
}

.admin-navigator {
    background: #2980b9;
    color: #fff;
    position: absolute;
    width: 20%;
    float: left;
    height: 90vh;
    border-right: 1px solid;
}

.admin-dashboard-section,
.admin-rest-section {
    position: relative;
    float: right;
    width: 80%;
    height: 90vh;
}

.admin-rest-section {
    overflow-y: scroll;
    overflow-x: hidden;
}

.admin-navigator-link {
    cursor: pointer;
    display: block;
    padding: 20px 10px;
    text-transform: uppercase;
    border-bottom: 1px solid;
}

ul li a,
ul li a:visited,
ul li a:active,
ul li a:link,
ul li a:focus {
    text-decoration: none;
    padding-left: 5px;
    color: #fff;
}

.admin-navigator-link i {
    font-size: 150%;
    padding-right: 10px;
}


/*********
bar-view-style
******/

.donation-bar {
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    width: 100%;
}

.donation-bar .donation-data {
    width: 60%;
    position: relative;
}

.donation-bar .donation-bar-img {
    width: 35%;
    position: relative;
}

.donation-bar .donation-bar-img img {
    position: relative;
    width: 80%;
    left: 10%;
    top: 10%;
    height: 80%;
}

.donation-bar-btn-section {
    width: fit-content;
    position: relative;
    margin-top: 4%;
    display: flex;
    left: 90%;
    transform: translateX(-90%);
}

.donation-bar .donation-bar-title {
    font-size: 90%;
    color: #555;
    margin-right: 5px;
}

.donation-bar .donation-bar-details {
    font-size: 80%;
    color: #333;
}

.ngo-address-icon {
    cursor: pointer;
    font-size: 120%;
}

.donation-bar-btn-section button {
    position: relative;
    padding: 10px 20px;
    margin: 5px;
    outline: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-size: 85%;
}

.donation-bar-btn-section button:nth-child(1) {
    background-color: rgb(86, 199, 90);
}

.donation-bar-btn-section button:nth-child(1):hover,
.donation-bar-btn-section button:nth-child(2):hover {
    background-color: #b5b5b5f2;
    color: white;
    transition: 0.6s ease-out;
}

.donation-bar-btn-section button:nth-child(2) {
    background-color: rgb(229, 42, 42, 0.85);
}

.empty-donation,
.empty-donation-check {
    position: relative;
    display: block;
    top: 30%;
    text-align: center;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.empty-donation {
    padding: 10px;
    font-size: 180%;
    font-weight: 400;
}

.empty-donation-check {
    width: 20%;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    height: 20%;
    border-radius: 50%;
    font-size: 250%;
    background: black;
}

.empty-donation-check i {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%) scale(0);
    color: var(--theme-color);
    animation: checkUp 1.5s ease-out forwards;
}

@keyframes checkUp {
    0% {
        transform: translateY(-50%) scale(0);
    }
    100% {
        transform: translateY(-50%) scale(1);
    }
}


/***********
donator-view style
*****/

.donator-container {
    position: relative;
    left: 8%;
    top: 5%;
    transform: translate(-5%, -5%);
}

.donator {
    border: 1px solid;
    width: 80%;
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.donator .donator-batch {
    position: relative;
    color: var(--theme-color);
    border-radius: 10px;
    padding: 5px;
}

.donator-batch-icon {
    position: relative;
    font-size: 100px;
    border-radius: 0%;
    top: 50%;
    padding: 10px;
    transform: translateY(-50%);
}

.donator .donator-info {
    width: 85%;
    border-right: 1px solid;
    padding: 10px;
}

.donator-info div {
    display: flex;
    padding-bottom: 6px;
}

.donator-info div span:nth-child(1) {
    text-transform: uppercase;
    font-size: 80%;
    font-weight: bold;
}

.donator-info div span:nth-child(2) {
    font-size: 80%;
    padding-left: 10px;
}


/***********
faq-admin-section
******/

.push-query-form {
    padding: 10px;
    box-shadow: 4px 4px 4px 4px rgba(17, 17, 17, 0.432);
    height: 60vh;
    width: 80%;
    left: 50%;
    top: 50%;
    position: absolute;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.push-query-form div {
    position: relative;
    padding: 20px;
    width: 80%;
    left: 10%;
}

.push-query-form-label {
    text-transform: uppercase;
    font-size: 120%;
    letter-spacing: 1px;
}

.push-query-form div input {
    padding: 2px;
    width: 65%;
    outline: none;
    background: transparent;
    border: 1p solid black;
    border-radius: 4px;
}

.push-query-form textarea {
    padding: 2px;
    border: 1px solid black;
    width: 65%;
    outline: none;
    border-radius: 4px;
    background-color: transparent;
    row: 4;
    cols: 42;
}

.push-query-form div button {
    padding: 10px 20px;
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    outline: none;
    border: 1px solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 120%;
    transition: 700ms ease-in-out;
    cursor: pointer;
}

.push-query-form div button:hover {
    background: var(--theme-color);
}

.fly-container {
    position: relative;
    font-size: 20px;
    height: 5vh;
    visibility: visible;
}

.overlay-container {
    width: 110%;
    position: absolute;
    left: -10%;
    top: 0%;
    z-index: 100;
    height: 5vh;
    background-color: #f7f7f7;
    animation: slideSide 5s ease-out forwards;
}

.fly-text {
    position: relative;
    height: 5vh;
    left: 0%;
    top: 0%;
    z-index: 10;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    font-size: 120%;
    color: var(--theme-color);
    padding-top: 10px;
}

.fly-container i {
    font-size: 30px;
    width: 5%;
    color: var(--theme-color);
    background-color: transparent;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes slideSide {
    0% {
        left: -10%;
    }
    68% {
        left: 68%;
    }
    100% {
        left: 110%;
    }
}