:root {
    --theme-color: #2c8ac7;
    --dark-theme-color-temp: rgba(56, 162, 228, 0.925);
    --dark-theme-color: #1d5a81;
    --green: rgba(67, 197, 67, 0.842);
    --default-text-color: #111111;
}


/***********
**** BASIC CSS *****
*************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Lato", "Arial", sans-serif;
    background-color: #fff;
    color: var(--default-text-color);
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

footer {
    background-image: url("../css/img/footer.svg");
    background-size: cover;
    height: 25vh;
}

.FAQ-section,
.donation-section,
.NGO-section {
    min-height: 100vh;
}

.donation-section {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--default-text-color);
}

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
}


/********************
FOOTER CSS
******************/

.footer-title {
    text-transform: uppercase;
    position: relative;
    top: 10%;
    left: 2%;
    font-size: 160%;
    font-weight: 300;
    color: #fff;
}

.footer-section {
    padding-top: 25px;
}

.footer-section-heading-para {
    color: #fff;
    font-size: 70%;
    padding: 5px 5px;
}

.footer-section-contact {
    width: 15%;
}

.footer-section-subheading {
    color: #fff;
    padding-bottom: 10px;
    font-size: 95%;
}

.footer-section-contactus-info {
    padding: 10px 5px;
    font-size: 75%;
}

.footer-section-follow,
.footer-section-legals {
    width: 15%;
    margin-left: 10%;
}

.footer-section-links,
.footer-section-contact-links {
    list-style-type: none;
}

.footer-section-links li a,
.footer-section-contact-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 75%;
    padding: 2px 2px;
}

.footer-section-links li a:hover,
.footer-section-links li a:active {
    cursor: pointer;
}

.footer-section-contact-links:hover {
    cursor: text;
}


/****************
*** REUSABLE CSS ***
***************/

.row {
    max-width: 1525px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
    font-size: 300%;
}

h5,
h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

h4 {
    width: 250px;
    margin-left: 25px;
}

h2 {
    display: block;
    align-items: center;
    font-size: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    text-justify: center;
}

.btn {
    text-transform: uppercase;
    color: #fff;
    padding: 25px 50px;
    text-decoration: none;
    border-radius: 10px;
}

nav {
    position: fixed;
    background-color: var(--theme-color);
    /*
    background-image: url("../css/img/header-2.svg");
    background-size: cover;
    */
    height: 15vh;
    color: #fff;
    z-index: 100;
}

a {
    text-decoration: none;
    color: #fff;
}


/**************
*** STATIC CSS **
*******************/

header {
    background-size: cover;
    height: 20vh;
}

.home-nav {
    width: 100%;
}

.main-nav-list li {
    float: left;
}

.main-nav-list li a {
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
}

.user-list li {
    float: right;
}

.user-list li,
.main-nav-list li {
    display: inline-block;
    list-style: none;
    margin-top: 32px;
}

.user-list li a:link,
.main-nav-list li a:link,
.user-list li a:visited,
.main-nav-list li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    margin-left: 20px;
}

.main-nav-list li a:active,
.main-nav-list li a:hover,
.main-nav-list li a:focus {
    font-size: 90%;
    border-bottom: 3px solid #fff;
    transition: 350ms ease-out;
}

.signup-btn,
.login-btn {
    border: 2px solid #fff;
    margin-right: 10px;
    padding: 10px 20px;
}

.user-profile {
    position: absolute;
    display: block;
    width: 15%;
    left: 100%;
    transform: translate(-100%);
    height: 15vh;
}

.user-profile h5,
.user-profile a {
    margin: 0;
    text-transform: none;
    letter-spacing: 1px;
    padding: 10px 20px;
    font-weight: 300;
}

.user-profile a {
    position: relative;
    padding: 1px 1px;
    margin: 0;
    left: 40%;
    font-size: 80%;
    transform: translate(-50%);
}

.user-profile h5 {
    position: relative;
    padding: 1px 2px;
    margin-top: 0;
    margin-bottom: 0;
    left: 25%;
    transform: translate(-25%);
}

.profile-icon {
    position: relative;
    font-size: 40px;
    margin-top: 0;
    left: 50%;
    transform: translate(-50%);
}

.donation-navigator {
    padding-top: 10px;
    position: relative;
}

.donation-navigator-form {
    position: relative;
    left: 40%;
    display: flex;
    align-items: baseline;
}

.Search-Bar,
.Search-Bar:focus,
.Search-Bar:hover {
    position: relative;
    width: 30%;
    height: 1.7rem;
    padding: 5px 20px;
    border: 1px solid black;
    border-right: none;
    outline: none;
}

.search-bar-icon {
    position: relative;
    font-size: 100%;
    background: transparent;
    padding: 0px 20px 0px 40px;
    height: 1.7rem;
    border: none;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    outline: none;
    cursor: pointer;
}

.donations {
    position: relative;
    margin-top: 70px;
    padding: 10px 20px;
    float: left;
    width: 70%;
    float: right;
}

.donation-bar-details,
.donation-bar-title {
    padding: 20px 10px;
}

.donation-bar-title {
    text-transform: uppercase;
    font-size: 90%;
}

.donation-bar-details {
    font-size: 80%;
    -webkit-line-clamp: 3;
    max-width: 30ch;
    word-break: normal;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
}

.donation-address-icon {
    font-size: 25px;
    padding-left: 2px;
}

.donation-address-icon:hover {
    cursor: pointer;
}

.donation-bar {
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;
    width: 95%;
    box-shadow: 2px 2px 4px var(--theme-color);
}

.donation-bar-top {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 6px;
    background-color: var(--theme-color);
    box-shadow: 2px 2px 4px var(--theme-color);
}

.donation-bar:hover,
.donation-bar:active {
    box-shadow: 2px 2px 4px var(--theme-color);
}

.donation-data {
    width: 70%;
    padding-top: 20px;
}

.donation-images {
    width: 200px;
    height: 150px;
    margin-top: 30px;
    margin-left: 20px;
    border: 1px inset black;
}


/******************************************
*******************************************
------------ FAQ CSS ----------------------
******************************************/

.faq-navigator-form {
    position: relative;
    left: 47%;
}

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    /*padding: 0 1.5rem;*/
}

.accordion-item {
    background-color: #fff;
    /*var(--default-text-color);*/
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-question {
    background-color: var(--default-text-color);
    color: #fff;
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-question::after {
    content: "\002B";
    font-size: 2rem;
    color: #fff;
    position: absolute;
    right: 1rem;
}

.accordion-item-question.active::after {
    content: "\2212";
}

.accordion-item-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-content-answer {
    overflow-y: scroll;
    max-height: 35vh;
    padding: 4% 2% 2% 2%;
    line-height: 1.5rem;
    border-top: 1px solid var(--theme-color);
    border-image: linear-gradient( to right, transparent, var(--theme-color), transparent) 1;
}

.accordion-item-content-answer-bar {
    position: relative;
    background-color: var(--theme-color);
    width: 100%;
    height: 5px;
    box-shadow: 0px 0px 50px 30px var(--theme-color);
}


/*******************
 donation-filter-style
*********************/

.donation-filter {
    position: relative;
    display: block;
    height: 70vh;
    width: 25%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.category-btn {
    width: 60%;
    margin-top: 10px;
    height: 10vh;
    border: 1px solid var(--theme-color);
    background: transparent;
    padding: 15px 10px 10px 10px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    outline: 1px solid var(--theme-color);
    transition: outline-offset 350ms ease;
}

.category-btn:hover,
.category-btn:focus,
.category-btn:active {
    outline-offset: -5px;
    background: white;
}

.category-icon {
    position: relative;
}

.category-btn:hover {
    cursor: pointer;
}

.view-donation-type {
    transform: scale(0);
    position: relative;
    width: 20%;
    left: 5%;
    top: 10%;
    display: flex;
    outline: none;
}

.view-donation-type h4,
.view-donation-type p {
    margin: 0;
    position: relative;
    padding: 0;
}

.view-donation-type h4 {
    width: 30%;
    letter-spacing: 2px;
}

.view-donation-type p {
    font-size: 110%;
}


/***************
reset-password-style
*******/

.set-new-password-form {
    background-color: #f7f7ff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    border: 1px solid black;
}

.new-password-form-heading {
    border-bottom: 1px solid black;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 20px 40px;
    font-size: 250%;
    letter-spacing: 1px;
}

.new-password-from-div {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
}

.set-new-password-label,
.set-new-password-field {
    display: inline-block;
    padding: 5px 20px;
    outline: none;
}

.new-password-btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px 40px;
    background-color: transparent;
    border: 1px solid;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.set-new-password-form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    border: 1px solid black;
}

.new-password-form-heading {
    background-color: black;
    color: var(--light-theme-color);
    border-bottom: 1px solid black;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 20px 40px;
    font-size: 250%;
    letter-spacing: 1px;
}

.new-password-from-div {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
}

.set-new-password-label,
.set-new-password-field {
    background: transparent;
    display: inline-block;
    padding: 5px 20px;
    outline: none;
}

.set-new-password-field {
    border: 1px solid black;
}

.new-password-btn {
    display: inline-block;
    padding: 10px 40px;
    background-color: transparent;
    border: 1px solid;
    outline: none;
    border-radius: 5px text-transform: uppercase;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.new-password-btn:hover {
    background-color: black;
    color: var(--light-theme-color);
    transition: 400ms ease;
}

.account-recovery-section {
    border-box: inline-block;
    height: 100vh;
    background: linear-gradient(45deg, var(--light-theme-color) 20%, var(--theme-color));
}


/***********
DONATION-MSG-STYLE
*********/


/***********
DONATION-MSG-STYLE
*********/

.donation-submition-section {
    border: 1px solid black;
    position: absolute;
    width: 100%;
    height: 900px;
    background-size: 400% 400%;
    background: linear-gradient(315deg, var(--theme-color) 100%, rgba(56, 162, 228, 0.925) 0%);
    animation: linearChange 5s cubic-bezier(0, 0, 0.2, 1) infinite 1s;
}

@keyframes linearChange {
    0% {
        background: linear-gradient(315deg, var(--theme-color) 100%, rgba(56, 162, 228, 0.925) 0%);
        transition: 1s ease;
    }
    25% {
        background: linear-gradient(315deg, var(--theme-color) 75%, rgba(56, 162, 228, 0.925) 25%);
        transition: 1s ease;
    }
    50% {
        background: linear-gradient(315deg, var(--theme-color) 50%, rgba(56, 162, 228, 0.925) 50%);
        transition: 1s ease;
    }
    75% {
        background: linear-gradient(315deg, var(--theme-color) 25%, rgba(59, 150, 206, 0.582) 75%);
        transition: 1s ease;
    }
    100% {
        transition: 1s ease;
        background: linear-gradient(315deg, var(--theme-color) 0%, rgba(59, 150, 206, 0.582) 100%);
    }
}

.done-container {
    position: relative;
    width: 150px;
    background-color: black;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%) translateY(80%);
}

.done {
    position: relative;
    width: 70px;
    height: 30px;
    transform: rotate(315deg);
    border-bottom: 8px solid green;
    border-left: 8px solid green;
}

.donation-confirm-msg {
    position: relative;
    width: 50%;
    border: 1px solid black;
    left: 50%;
    transform: translateX(-50%) translateY(90%);
    display: inline-block;
    text-align: center;
    padding: 40px 1px;
    font-size: 120%;
}

.donation-confirm-view {
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}

.donation-confirm-view h4 {
    margin: 0;
    padding: 10px;
    left: 0;
    top: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    margin-bottom: 10px;
}