:root {
    --theme-color: #2c8ac7;
    --dark-theme-color: #1d5a81;
    --default-text-color: #111111;
    --light-theme-color: #4bacec;
    --donator-theme-color: #3f87a6;
    --ngo-theme-color: #f69d3c;
}


/***********
**** BASIC CSS *****
*************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-family: "Lato", "Arial", sans-serif;
    background-color: rgba(255, 255, 255, 0.747);
    color: var(--default-text-color);
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--default-text-color);
}

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
}


/****************
*** REUSABLE CSS ***
***************/

.row {
    max-width: 1530px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
    font-size: 300%;
}

h5,
h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

h4 {
    width: 250px;
    margin-left: 25px;
}

h2 {
    display: block;
    align-items: center;
    font-size: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    text-justify: center;
}

.btn {
    text-transform: uppercase;
    color: #fff;
    padding: 25px 50px;
    text-decoration: none;
    border-radius: 5px;
}

nav {
    position: fixed;
    height: 20vh;
    color: #fff;
    z-index: 100;
}

a {
    text-decoration: none;
    color: #fff;
}

ion-icon {
    font-size: 40px;
}

ion-icon:hover {
    cursor: pointer;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #4bacec;
    stroke-dasharray: 290 680;
    stroke-dashoffset: 290;
    transition: 1s ease-in-out;
}

.btn:hover svg {
    stroke-dashoffset: -680;
}


/**************
*** STATIC CSS **
*******************/

header {
    background: radial-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../css/img/the-helping-hand-header.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    filter: contrast(180%);
}

.nav-main-quote {
    position: relative;
    color: #fff;
    height: 70%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.donate-btn {
    z-index: 100;
    position: relative;
    font-size: 135%;
    font-weight: bold;
    letter-spacing: 10px;
    left: 40%;
    top: 0%;
    padding: 20px 40px;
    margin-left: 0;
    border: 1px solid #fff;
    transform: translate(-40%);
    transition: 450ms ease-in-out 300ms;
}

@keyframes half-pulse {
    0% {
        color: #fff;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 0px rgb(75, 172, 236, 0);
    }
    50% {
        transform: scale(1);
        color: var(--light-theme-color);
        box-shadow: 0px 0px 0px 12px rgba(75, 172, 236, 0.6);
    }
    100% {
        box-shadow: 0px 0px 0px 0px rgb(75, 172, 236);
        transform: scale(0.9);
        color: #fff;
    }
}

@keyframes pulse {
    0% {
        color: #fff;
        box-shadow: 0px 0px 0px 0px rgb(75, 172, 236, 0.6), 0px 0px 0px 0px rgb(75, 172, 236, 0.6);
    }
    40% {
        color: var(--theme-color);
        box-shadow: 0px 0px 0px 10px rgb(75, 172, 236, 0.6), 0px 0px 0px 0px rgb(75, 172, 236, 0.6);
    }
    80% {
        color: var(--light-theme-color);
        box-shadow: 0px 0px 0px 12px rgb(75, 172, 236, 0.6), 0px 0px 0px 10px rgb(75, 172, 236, 0.6);
    }
    100% {
        color: #fff;
        box-shadow: 0px 0px 0px 0px rgb(75, 172, 236, 0.6), 0px 0px 0px 8px rgb(75, 172, 236, 0.6);
    }
}

.donate-btn:hover {
    animation: half-pulse 1.2s ease 1;
    color: var(--theme-color);
    transition: 450ms ease-in-out 300ms;
}

.home-nav {
    width: 100%;
    background-color: transparent;
    height: 15vh;
}

.active {
    height: 15vh;
    position: fixed;
    background-color: var(--theme-color);
}

.logo {
    width: 35%;
    position: relative;
}

.main-quote-subpart {
    position: relative;
    top: 10%;
}

.main-nav-list li {
    float: left;
}

.user-list li {
    float: right;
}

.main-nav-list li a {
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
}

.user-list li,
.main-nav-list li {
    display: inline-block;
    list-style: none;
    margin-top: 32px;
}

.user-list li a:link,
.main-nav-list li a:link,
.user-list li a:visited,
.main-nav-list li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    margin-left: 20px;
}

.main-nav-list li a:active,
.main-nav-list li a:hover,
.main-nav-list li a:focus {
    font-size: 90%;
    border-bottom: 3px solid #fff;
    transition: 350ms ease-out;
}

.user-list {
    position: relative;
    float: right;
}

.signup-btn,
.login-btn {
    border: 2px solid #fff;
    margin-right: 10px;
    padding: 10px 20px;
}

.logo {
    margin-bottom: 30px;
}

.about-us-para {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 100px;
    text-align: center;
}

.about-us-heading {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 45%;
}

.about-us-heading:after {
    display: block;
    height: 3px;
    margin-top: 10px;
    margin-left: 10px;
    width: 130px;
    content: "   ";
    background-color: var(--theme-color);
}

.image-slider-one {
    background: linear-gradient(#11111134, #11111131);
    background-image: url("../css/img/sliderPhotos/img-1.jpeg");
    width: 80%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.image-slider-two {
    background: linear-gradient(#11111134, #11111131);
    background-image: url("../css/img/sliderPhotos/img-4.jpg");
    width: 80%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.sec-slider-para,
.fir-slider-para {
    width: 80%;
    text-align: center;
}

.sec-slider-para {
    float: right;
    margin-right: 20%;
}

.slider-content {
    width: 80%;
    left: 10%;
}

.slider-content {
    margin-bottom: 40px;
}

.proprietor-content {
    width: 80%;
    margin-bottom: 70px;
}

.proprietor-image {
    margin-left: 30px;
    width: 250px;
    height: 25vh;
    margin-left: 30px;
    margin-bottom: 15px;
}

.developer-heading {
    width: fit-content;
    position: relative;
    left: 50%;
}

.developer-heading:after {
    display: block;
    position: relative;
    height: 3px;
    margin-top: 10px;
    width: 80%;
    left: 10%;
    content: "";
    background-color: var(--theme-color);
    margin-bottom: 40px;
}

.developer-para {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.get-in-touch-heading {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 42%;
}

.get-in-touch-heading:after {
    display: block;
    height: 3px;
    margin-top: 10px;
    margin-left: 10px;
    width: 195px;
    content: "   ";
    background-color: var(--theme-color);
    margin-bottom: 40px;
}

.get-in-touch {
    margin-bottom: 70px;
}

.query-form {
    display: block;
    padding: 40px;
    width: 60%;
    transform: translate(35%);
    outline: unset;
    z-index: 0;
    box-shadow: 2px 2px 12px var(--theme-color);
}

.query-text {
    letter-spacing: 1px;
    width: 65%;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid var(--default-text-color);
    color: var(--default-text-color);
}

.query-text-area {
    height: 30vh;
}

.submit-query-btn {
    color: var(--default-text-color);
    padding: 15px 30px;
    outline: none;
    border: 2px solid var(--default-text-color);
}

.query-text:hover,
.query-text:active,
.query-text:focus {
    border: 1px solid var(--theme-color);
    outline: none;
    box-shadow: 1px 1px 2px var(--theme-color);
    transition: 0.5s ease-out;
}

.submit-query-btn:hover {
    border: 2px solid var(--theme-color);
    cursor: pointer;
    background-color: var(--theme-color);
    color: var(--default-text-color);
    transition: 0.5s ease-out;
}

footer {
    background-image: url("../css/img/footer.svg");
    background-size: cover;
    height: 25vh;
    color: #fff;
}

.user-profile {
    position: absolute;
    display: block;
    width: 15%;
    left: 100%;
    transform: translate(-100%);
    height: 15vh;
}

.user-profile h5,
.user-profile a {
    margin: 0;
    text-transform: none;
    letter-spacing: 1px;
    padding: 10px 20px;
    font-weight: 300;
}

.user-profile a {
    position: relative;
    padding: 1px 1px;
    margin: 0;
    left: 40%;
    font-size: 80%;
    transform: translate(-50%);
}

.user-profile h5 {
    position: relative;
    padding: 1px 2px;
    margin-top: 0;
    margin-bottom: 0;
    left: 25%;
    transform: translate(-25%);
}

.profile-icon {
    position: relative;
    font-size: 40px;
    margin-top: 0;
    left: 50%;
    transform: translate(-50%);
}

.lds-dual-ring {
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    z-index: 100;
    opacity: 1;
    width: 90%;
    height: 85%;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 20% 40%;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: var(--theme-color) white var(--theme-color) white;
    animation: lds-dual-ring 0.9s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
        transition: 0.4s;
    }
    /*
    50% {
        transform: rotate(180deg);
        transition: 0.4s;
    }
    */
    100% {
        transform: rotate(360deg);
        transition: 0.4s;
    }
}

.photo-slider {
    position: relative;
    background: linear-gradient(#11111134, #11111131);
    background-image: url("../css/img/sliderPhotos/img-1.jpeg");
    width: 60%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    left: 30%;
    transform: translate(-30%);
    transition: 0.7s ease-in;
    z-index: 0;
}

.quote-slider {
    position: relative;
    background-color: rgba(255, 255, 255, 0.82);
    width: 40%;
    height: 30vh;
    max-height: 45vh;
    z-index: 1;
    transform: translateY(-60%);
    right: 5%;
    float: right;
    overflow-y: scroll;
    text-overflow: scroll;
    scrollbar-color: var(--theme-color);
    box-shadow: 5px 5px 15px 2px var(--default-text-color);
}

.fir-slider-para {
    padding: 30px 20px;
}


/********************
FOOTER CSS
******************/

.footer-title {
    text-transform: uppercase;
    position: relative;
    top: 10%;
    left: 2%;
    font-size: 160%;
    font-weight: 300;
}

.footer-section {
    padding-top: 25px;
}

.footer-section-heading-para {
    font-size: 70%;
    padding: 5px 5px;
}

.footer-section-contact {
    width: 15%;
}

.footer-section-subheading {
    padding-bottom: 10px;
    font-size: 95%;
}

.footer-section-contactus-info {
    padding: 10px 5px;
    font-size: 75%;
}

.footer-section-follow,
.footer-section-legals {
    width: 15%;
    margin-left: 10%;
}

.footer-section-links,
.footer-section-contact-links {
    list-style-type: none;
}

.footer-section-links li a,
.footer-section-contact-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 75%;
    padding: 2px 2px;
}

.footer-section-links li a:hover,
.footer-section-links li a:active {
    cursor: pointer;
}

.footer-section-contact-links:hover {
    cursor: text;
}

#loader {
    position: relative;
    border: 15px solid rgb(218, 218, 218);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border-right-color: var(--theme-color);
    border-left-color: var(--theme-color);
    animation: loading 1.5s infinite;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

#done {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 50px;
    border-bottom: 15px solid rgb(64, 216, 64);
    border-right: 15px solid rgb(64, 216, 64);
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/***************
login site-logo svg css
********/

#logo {
    animation: logo-fill 400ms ease forwards 3.8s;
}

#logo path:nth-child(1) {
    stroke-dasharray: 221;
    stroke-dashoffset: 222;
    animation: logo-animation 1s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 342;
    stroke-dashoffset: 342;
    animation: logo-animation 1.2s ease forwards;
}

#logo path:nth-child(3) {
    stroke-dasharray: 308;
    stroke-dashoffset: 308;
    animation: logo-animation 1.4s ease forwards;
}

#logo path:nth-child(4) {
    stroke-dasharray: 342;
    stroke-dashoffset: 342;
    animation: logo-animation 1.6s ease forwards;
}

#logo path:nth-child(5) {
    animation: logo-animation 1.8s ease forwards;
    stroke-dasharray: 308;
    stroke-dashoffset: 308;
}

#logo path:nth-child(6) {
    animation: logo-animation 2s ease forwards;
    stroke-dasharray: 205;
    stroke-dashoffset: 205;
}

#logo path:nth-child(7) {
    animation: logo-animation 2.2s ease forwards;
    stroke-dasharray: 293;
    stroke-dashoffset: 293;
}

#logo path:nth-child(8) {
    animation: logo-animation 2.4s ease forwards;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
}

#logo path:nth-child(9) {
    animation: logo-animation 2.6s ease forwards;
    stroke-dasharray: 390;
    stroke-dashoffset: 390;
}

#logo path:nth-child(10) {
    animation: logo-animation 2.8s ease forwards;
    stroke-dasharray: 342;
    stroke-dashoffset: 342;
}

#logo path:nth-child(11) {
    animation: logo-animation 3s ease forwards;
    stroke-dasharray: 342;
    stroke-dashoffset: 342;
}

#logo path:nth-child(12) {
    stroke-dasharray: 309;
    stroke-dashoffset: 309;
    animation: logo-animation 3.2s ease forwards;
}

#logo path:nth-child(13) {
    animation: logo-animation 3.4s ease forwards;
    stroke-dasharray: 389;
    stroke-dashoffset: 389;
}

#logo path:nth-child(14) {
    animation: logo-animation 3.6s ease forwards;
    stroke-dasharray: 334;
    stroke-dashoffset: 334;
}

@keyframes logo-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes logo-fill {
    from {
        fill: transparent;
    }
    to {
        fill: #fff;
    }
}


/*******
home-page-stat-view-style
*****/

.stat-view {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 60px;
    background-color: #444;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.stat-view-div {
    position: relative;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}

.stat-view-div div,
.stat-view-div i {
    position: relative;
    width: 100%;
    text-align: center;
}

.stat-view-div i {
    color: var(--theme-color);
    padding: 20px;
    font-size: 190%;
}

.stat-view-div div {
    color: #fff;
    padding: 10px 20px;
}


/********************
index-team-style
*******/

.team-view-section i {
    position: relative;
    font-size: 300%;
    left: 50%;
    margin-bottom: 10px;
    color: var(--light-theme-color);
}

.team-view-section h4 {
    width: 100%;
}

.team-view-section p {
    position: relative;
    left: 10%;
}